body {
    background-color: rgba(0, 0, 0, 0.15);
    color: black;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
}

header {
    position: absolute;
    height: 100px;
    width: calc(90% - 200px);
    margin-left: 150px;
    padding-left: 50px;
    z-index: 2;
}

    header #category-list{
        position: relative;
        padding-right: 10px;
    }

    header #category-list .category{
        display: inline-block;
        text-align: center;
        line-height: 100px;
        font-size: 20px;
        width: 33%
    }

article {
    position: absolute;
    background-color: white;
    margin-top: 50px;
    margin-left: 150px;
    padding-top: 50px;
    padding-left: 50px;
    height: 200px;
    width: calc(90% - 200px);
}

    #my-photo{
        width: 150px;
        height: 200px;
        margin: 25px;


        border-color: black;
        background-image: url("../Content/img/profil.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 10;
    }

#wrapper {
    margin: 5%;
}

    #wrapper .menu {
        background-color: rgb(0, 165, 255);
        border-radius: 10px;
        color: white;
        font-size: 16px;
    }

    #wrapper .highlitable:hover {
        background-color: rgb(0, 185, 255);
    }

    #wrapper .selected{
        background-color: rgb(0, 205, 255);
    }

    #wrapper .clickable {
        cursor: pointer;
    }

#content {
    margin-bottom: 25px;
}
    
    #content #left-pane {
        position: absolute;
        width: 200px;
        padding-bottom: 10px;
        z-index: 3;
    }

    #content #subcategory-list {
    }

    #content #subcategory-list .subcategory{
        padding-left: 15px;
        height: 100px;
        line-height: 100px;
    }