body {
    background-color: rgba(0, 0, 0, 0.15);
    color: black;
}

footer {
    text-align: center;
}

header {
    height: 100px;
    width: calc(100% - 200px);
    float: right;
    border-radius: 0 10px 10px 0;
}

    header #category-list {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

        header #category-list .category {
            display: table-cell;
            text-align: center;
            line-height: 100px;
            font-size: 20px;
        }
        
        header #category-list .selected:last-of-type {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        header #category-list .highlitable:last-of-type:hover {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

#my-photo {
    width: 150px;
    height: 200px;
    margin: 25px;
    border-color: black;
    background-image: url("../Content/img/profil.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
}

#wrapper {
    margin: 2%;
}

    #wrapper .menu {
        background-color: rgb(0, 165, 255);
        color: white;
        font-size: 16px;
    }

    #wrapper .highlitable:hover {
        background-color: rgb(0, 185, 255);
    }

    #wrapper .selected {
        background-color: rgb(0, 205, 255);
    }

    #wrapper .clickable {
        cursor: pointer;
    }

#content {
    margin-bottom: 25px;
    overflow: hidden;
}

    #content #left-pane {
        width: 200px;
        float: left;
        border-radius: 10px 0 0 10px;
    }

    #content #left-pane .selected:last-of-type {
        border-bottom-left-radius: 10px;
    }

    #content #left-pane .highlitable:last-of-type:hover {     
        border-bottom-left-radius: 10px;
    }

    #content #subcategory-list {
    }

        #content #subcategory-list .subcategory {
            padding-left: 15px;
            height: 100px;
            line-height: 100px;
        }
        
article {
    background-color: white;
    border-radius: 10px 10px 0 10px;
    padding: 100px 0 0 200px;
    height: 400px;
}