#experience-subcategory{

}

#experience-subcategory .description{
    margin: 20px 100px 20px 50px;
}

#experience-subcategory .job-title{
    text-decoration: underline;
}

#experience-subcategory .time-span{
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.5);
}

#future-processing .title-link{
    width: 30%;
    cursor: pointer;
}