<div id="experience" data-bind="if: name == 'My experience'">
    <div id="experience-main" data-bind="if: !subcategory()">
        This is my experience category.
    </div>
    <div id="experience-subcategory" data-bind="with: subcategory">
        @Html.Partial("~/Views/Experience/FP.cshtml")
        @Html.Partial("~/Views/Experience/inSolutions.cshtml")
    </div>
</div>