<div id="future-processing" data-bind="if: name == 'Future Processing'">
        <figure class="title-link">
            <img src="~/Content/svg/future-processing.svg" />
        </figure>
    </a>
    <div class="description">
        <h2 class="job-title">.NET Developer</h2>
        <h4 class="time-span">February 2013 - till now</h4>
        <p>
            About Future Processing I had heard a lot before I applied to work there. Many friends of mine
            had worked here and I knew that it's a heaven on earth for a young programmer like me.
            When I finally got skills necessary to pass recrutation tests and studies were less demanding so I could
            have spent more time at work I applied to them for a .NET Developer job... And I did it, they wanted me.
        </p>
        <h4>Tasks and responsibilities</h4>
        <ul>
            <li>
                <p>
                    Developing and deploying live a web application for the english client from the law sector. 
                </p>
            </li>
            <li>
                <p>
                    Managing, improving and supporting live application for the english client from the law sector. 
                </p>
            </li>
            <li>
                <p>
                    Managing, improving and supporting WCF service application responsible for data transferring between
                    client's web applications and external system database.
                </p>
            </li>
            <li>
                <p>
                    Developing applications as a member of an agile team with Scrum Master and Product Owner
                </p>
            </li>
            <li>
                <p>
                    Developing applications at the server-side 
                </p>
            </li>
            <li>
                <p>
                    Developing applications at the client-side
                </p>
            </li>
            <li>
                <p>
                    Managing SqlServer database
                </p>
            </li>
            <li>
                <p>
                    Deploying applications on internal, external and live environments
                </p>
            </li>
        </ul>
        <h4>Applications for the english client from the law sector</h4>
        <p>
            The first application is dedicated to employees of the company that are responsible for managing cases
            submited by people and industries all over the Great Britain. 
        </p>
        <p>
            Second application is dedicated to people and companies all over the Great Britain that would like to 
            submit a new case. They also can review all their cases.
        </p>
        <p>
            Applications use external database containing vital data necessary for officers to work. The
            external database is connected with web applications via WCF provider. Besides data transfer
            the provider application is also responsible for session storage and user authentication using WIF.
        </p>
        <p>
            Users logging into applications are assigned to roles. Thanks to that applications have many
            different functionalities and views dedicated to different user roles. Of course there are views and
            functions common for all users in each application.
        </p>
        <h4>Technologies overview (vastness of symbols)</h4>
        <p>
            .NET 4.5, MVC5, Entity Framework 4, MsTest, NUnit, Moq, HTML 5, CSS 3, TypeScript, JavaScript,
            jQuery, KnockoutJS, SignalR, Visual Studio 2012/2013, SqlServer Management Studio 2012/2014, IIS 7.5, Git, 
            JIRA, Bamboo, Bitbucket, Confluence, Crucible 
        </p>
    </div>
</div>