<div id="content">
    <div id="left-pane" class="menu">
        <div id="my-photo">
        </div>

        <div id="subcategory-list" data-bind="foreach: category().subcategories">
            <div class="subcategory highlitable clickable" data-bind="click: active, css: {selected: isSelected}">
                <span data-bind="text: name"></span>
            </div>
        </div>
    </div>

    <article data-bind="style: {height: getArticleHeight}">
        To jest właściwy content
    </article>
</div>
