<article id="portfolio" data-bind="if: name == 'Portfolio'">
    <div id="portfolio-main" data-bind="if: !subcategory()">
        This is my portfolio category.
    </div>
    <div id="portfolio-subcategories" data-bind="with: subcategory">
        @Html.Partial("~/Views/Portfolio/Reports.cshtml")
        @Html.Partial("~/Views/Portfolio/Paint.cshtml")
        @Html.Partial("~/Views/Portfolio/Meds.cshtml")
        @Html.Partial("~/Views/Portfolio/Laboratory.cshtml")
    </div>
</article>